<div id="about_us" class="panel">
  <div class="content">
    <h1>Emilee & Steve</h1>
    <h2>(meets)</h2>

    <p>We are Steve Mitchell and Emilee Fitch.  We're getting married in a few months.  Lorem Ipsum Dolor sit amet.
    Conspici secto.</p>
  </div>


  <div class="media">
    <%=  image_tag "box3.png" %>

  </div>
</div>